# .NET build artifacts
bin/
obj/
**/bin/
**/obj/
*.vsidx
*.v2
/ExperisLotteriApp/.vs/ExperisLotteriApp/v17
/ExperisLotteriApp/.vs/ExperisLotteriApp
/ExperisLotteriApp/.vs
ExperisLotteriApp/.vs/ExperisLotteriApp/v17/DocumentLayout.json
*.vsidx
*.vs/

# Visual Studio user settings
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

