# Ignore build output directories
bin/
obj/
**/bin/
**/obj/

# Ignore Visual Studio temporary files, workspace, and user-specific files
.vs/
*.vs/
*.vsidx
*.v2

# Ignore Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings folder
.vscode/
/ExperisLotteriApp/.vs/ExperisLotteriApp
ExperisLotteriApp/.vs/ExperisLotteriApp/v17/.suo
ExperisLotteriApp/.vs/ExperisLotteriApp/v17/DocumentLayout.json
publish/
