@page "/"
@using System.Text.Json.Serialization
@using Client.Services
@using Shared.DTO

<PageTitle>Expris lotteri App</PageTitle>

@inject ITicketService TicketService

@if (TicketsCount == null)
{
    <p>Loading...</p>
}
else
{
    <p style="font-size: 24px; color: green;">
        <strong>Available Tickets:</strong> @TicketsCount.AvailableTickets
    </p>

    <p style="font-size: 24px; color: red;">
        <strong>Reserved Tickets:</strong> @TicketsCount.ReservedTickets
    </p>

    <p style="font-size: 24px; color: yellow;">
        <strong>Reserved Tickets:</strong> @TicketsCount.OnHoldTickets
    </p>
}

@code {
    private AvailableTicketsDTO TicketsCount;

    protected override async Task OnInitializedAsync()
    {
        TicketsCount = await TicketService.GetAvailableCountAsync();
    }

}
