@page "/"
@using System.Text.Json.Serialization
@using Shared.DTO

<PageTitle>Expris lotteri App</PageTitle>

@inject HttpClient Http

<p style="font-size: 24px; color: green;">
    <strong>Available Tickets:</strong> @TicketsCount.AvailableTicket
</p>

<p style="font-size: 24px; color: red;">
    <strong>Available Tickets:</strong> @TicketsCount.Reserved
</p>

@code {
    private AvailableTicketDTO TicketsCount;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<AvailableTicketDTO>("api/tickets/available-count");
        if (response != null)
        {
            TicketsCount = response;
        }
    }

}
